.power {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  color: #818181;
  font: normal 20px arial;
  text-transform: uppercase;
  box-shadow:
    0 0 1px 1px black,
    0 2px 1px 0 black;
  background-image: linear-gradient(to bottom, #383838 0%, #1F1F1F 2%, #161616 100%);
  border-radius: 3px;
}

.power.active{
  color: #9E9E9E;
  box-shadow:
    0 0 1px 1px black,
    inset 0 2px 2px 0 black;
}
